<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class=" col-md-12 col-lg-8 mb-4 mb-md-0 leaderboard">
                <div class="title">
                    <h1>لوحة المتصدرين</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>الاسم</th>
                            <th>النتيجة</th>
                            <th>تاريخ اللعب</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% scores.forEach((entry, index)=> { %>
                            <tr>
                                
                                <td
                                    class="<%= index + 1 == 1 ? 'gold' : (index + 1 == 2 ? 'silver' : (index + 1 == 3 ? 'bronze' : '')) %>">
                                    <div class="rank-circle">
                                        <%= index + 1 %>
                                    </div>
                                </td>
                                <td>
                                    <%= entry.username %>
                                </td>
                                <td>
                                    <%= entry.score %>
                                </td>
                                <td>
                                    <%= new Date(entry.date).toLocaleString() %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>